
/* 用到 的 css */
.cmb_editor {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Arial','Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace;
    font-size: 12px;
    width: 100%;
    height: 500px;
    border: 1px solid black;
    overflow-y: auto;
    padding: 0;
    background: #f2f2f2;
}
.cmb_editor_cont{
    width: 100%;
    display: flex;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
.cmb_editor_cont::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 6px;
    background: #fff;
    left: 35px;
}
.cmb_gutter {
    position: relative;
    min-height: 500px;
    width: auto;
    cursor: default;
    z-index: 4;
    background: #f2f2f2;
    width: 35px;
    text-align: right;
    pointer-events: auto;
    z-index: 1;
    white-space: nowrap;
}

.cmb_gutter-cell {
    height: 16px;
    line-height: 18px;
    font-size: 12px;
    padding-right: 6px;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    position: relative;
}
.cmb_gutter-cell.wrong:after{
    content: 'x';
    display: block;
    color: #fff;
    position: absolute;
    background: #a31515;
    text-align: center;
    width: 10px;
    height: 10px;
    line-height: 10px;
    font-size: 12px;
    right: -4px;
    bottom: 0;
    border-radius: 5px;
}
.cmb_editor_panel {
    min-height: 500px;
    flex-grow: 1;
    opacity: 1;
    background: #f2f2f2;
    appearance: none;
    -moz-appearance: none;
    border: none;
    resize: none;
    outline: none;
    overflow-y: hidden;
    font-size: 12px;
    line-height: 16px;
    padding: 0;
    color: #333;
    margin-left: 6px;;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace, Arial, Helvetica, sans-serif;
}
.cmb_editor_panel>div{
    margin-bottom:5px;
}
.cmb_editor_panel .name{
    color: #f00;
}
.cmb_editor_panel .value{
    color: #a31515;
}
.cmb_editor_panel .punctuation{
    color: #000;
    padding-right: 0.5em;
}
.cmb_editor_panel .brackets{
    color: #000;
}